body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fafafa;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.address-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
}

.address-info {
  flex: 1;
  margin-left: 10px;
}

.deliver-btn {
  background-color: #ffe6e6;
  color: DarkRed;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.secondary-btn {
  background-color: #ccc;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn {
  background-color: #e0f5ff;
  color: #0d0d9e;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
}